body{
    background-color: #f2ccff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
nav{
    display: flex;
    justify-content: space-between;
    color: #9900cc;
    margin-left: 30px;
    font-size: 26px;
    font-weight: bold;
   }

.nav:hover{
    background-color: black;

}


nav h1{
    font-size: 40px;
    color: #9900cc;
    border-top: 5px solid #9900cc;;
    border-bottom: 5px solid #9900cc;
    border-radius: 40px ;
}

ul{
    display: flex;

}
ul li{
    list-style: none;
    margin-inline:30px;
}

.btn button{ 
    width: 100px;
    height: 36px;
    border: 3px solid #9900cc;
    background-color:#cc33ff;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;

}

.btn button:hover{ 
    border-color: #e580ff;
    color: black;
    cursor: pointer;
}


.main-div{
    display: flex;
    justify-content: space-between;
    color:#cc00ff;
    margin-top: 30px;
}

.main-div .head{
    font-size: 60px;
    margin-left:60px;
    margin-top: 130px;


}

.head button{
    width: 180px;
    height: 45px;
    background-color:  #9900cc;
    color: white;
    font-size:25px;
    border-radius: 6px;

}

.head button:hover{
    background-color:#e580ff;
    color: black;
    cursor: pointer;
}

.img img{
    margin-right: 100px;
    width: 500px;
    margin-top: 10px;

}

.sub-heading{
    color: black;
}

@media (max-width: 768px) {


    .img img{
        display: none;
    
    }


    nav{
        display: flex;
        justify-content: space-around;
        color: #9900cc;
        margin-left: 10px;
        font-size: 25px;
        font-weight: bold;
       }

       ul li{
        list-style: none;
        margin-inline:10px;
    }
    .btn {
        margin-top: 30px;
    }

    nav h1{
        font-size: 30px;
        color: #9900cc;
        border-top: 5px solid #9900cc;;
        border-bottom: 5px solid #9900cc;
        border-radius: 20px ;
    }
}

@media (max-width: 480px) {

    .img img{
        display: none;
    
    }


    nav{
        display: flex;
        justify-content: space-around;
        color: #9900cc;
        margin-left: 5px;
        font-size: 15px;
        font-weight: bold;
       }

       ul li{
        list-style: none;
        margin-inline:10px;
    }
    .btn {
        margin-top: 20px;
    }


    .head button{
        width: 100px;
        height: 40px;
        background-color:  #9900cc;
        color: white;
        font-size:15px;
        border-radius: 4px;
        margin-top: 5px;
    
    }


    nav h1{
        font-size: 30px;
        color: #9900cc;
        border-top: 5px solid #9900cc;;
        border-bottom: 5px solid #9900cc;
        border-radius: 20px ;
    }

    .main-div .head{
        font-size: 30px;
        margin-left:40px;
        margin-top: 70px;
    
    
    }    

}